<%- include('components/header') %>
<script>
  $(document).ready(function(){
    getAllUserHealthSnapshots();
  });
</script>
<table class="table">
  <thead>
    <tr>
      <th>Weight (Lbs)</th>
      <th>Height (Inches)</th>
      <th>Blood Pressure Systolic</th>
      <th>Blood Pressure Distolic</th>
      <th>Heart Rate</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody id="healthHistoryTableBody">
    <tr>
      <td>
        Loading
      </td>
    </tr>
  </tbody>
</table>
<%- include('components/footer') %>
