<%- include('components/header') %>
<script src="js/liftScripts.js"></script>
<script>
  $(document).ready(function(){
    getAllUserLifts();
    liftCalendar();
  });
</script>
<table class="table">
  <thead>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </thead>
  <tbody>
    <tr id="LiftCalendar">
      <td id="SunCal"></td>
      <td id="MonCal"></td>
      <td id="TuesCal"></td>
      <td id="WedCal"></td>
      <td id="ThursCal"></td>
      <td id="FridCal"></td>
      <td id="SatCal"></td>
    </tr>
    
  </tbody>
</table>


<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addLiftModal">Add Lift</button>


<table class="table">
  <thead>
    <tr>
      <th>Workout Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Edit</th>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody id="LiftTableBody">
    <tr>
      <td>
        Loading
      </td>
    </tr>
  </tbody>
</table>


<!--Add Lift Modal -->
<div id="addLiftModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form onsubmit='return false;'>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a New Lift</h4>
        </div><!-- Modal Header -->

        <div class="modal-body">
          <div class="form-group">
            <label for="liftName">Lift Name</label>
            <input type="text" name="liftName" class="form-control" id="liftName" />
          </div><!-- form-group -->
          <div class="form-group">
            <label for="reps">Reps</label>
            <input class="form-control" name="reps" id="reps" />
          </div><!-- form-group -->
          <div class="form-group">
            <label for="weight">Weight</label>
            <input class="form-control" name="weight" id="weight" />
          </div><!-- form-group -->
          <div class="form-group">
            <label for="days">Days</label>
            <select name="days" class="form-control" id="days">
              <option>Sunday</option>
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
            </select>
          </div><!-- form-group -->
        </div><!-- Modal body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" onclick='newLiftSubmit();' class="btn btn-primary">Add Lift</button>
        </div><!-- Modal Footer -->
      </div><!-- Modal Content -->
    </form>
  </div> <!-- Modal Dialog -->
</div><!-- Modal -->

<!-- EditModal -->
<div id="editLiftModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form onsubmit='return false;'>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Lift</h4>
        </div><!-- Modal Header -->

        <div class="modal-body">
          <div class="form-group">
            <label for="liftName">Lift Name</label>
            <input type="text" name="liftName" class="form-control" placeholder="Lift Name" id="editName" />
          </div><!-- form-group -->
          <div class="form-group">
            <label for="reps">Reps</label>
            <input class="form-control" name="reps" id="editReps" />
          </div><!-- form-group -->
          <div class="form-group">
            <label for="weight">Weight</label>
            <input class="form-control" name="weight" id="editWeight" />
          </div><!-- form-group -->
          <div class="form-group">
            <label for="days">Days</label>
            <select name="days" class="form-control" id="editDays">
              <option>Sunday</option>
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
            </select>
          </div><!-- form-group -->
          <input type="hidden" id="editLiftId" name="gymactivity_id">

        </div><!-- Modal body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" onclick='editLiftSubmit();' class="btn btn-primary">EditLift</button>
        </div><!-- Modal Footer -->
      </div><!-- Modal Content -->
    </form>
  </div> <!-- Modal Dialog -->
</div><!-- Modal -->


<%- include('components/footer') %>
