<%- include('header') %>

<div class="row">
    <div class="jumbotron">
        <h3>
            Welcome
            <% if (welcomeMessage != -1) { %>
                <%= welcomeMessage %>
            <% } %>
        </h3>
        <a href="/login">
            <button class="btn btn-primary">Login</button>
        </a>
        <a href="/signup">
            <button class="btn btn-primary">Sign-Up</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
            <img class="img-responsive img-thumbnail" src="images/icon_ash.png" style="height:200px; width:parent;"/>
            <div class="caption">
                <h3>Calculate your Calories!</h3>
                <p>
                    Just enter the food you eat for the day and we will track the calories for you.
                    You can then view the data in a user friendly way to track your progess!
                </p>
                <a href="#">
                    <button class="btn btn-primary">GoTo</button>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
            <img class="img-responsive img-thumbnail" src="images/icon_ash.png" style="height:200px; width:parent;"/>
            <div class="caption">
                <h3>Plan a Workout</h3>
                <p>
                    Planout workouts and have it ready for when you are in the gym.
                    Just schedule the days you plan to exercises, the sets and reps.
                </p>
                <a href="#">
                    <button class="btn btn-primary">GoTo</button>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
            <img class="img-responsive img-thumbnail" src="images/icon_ash.png" style="height:200px; width:parent;"/>
            <div class="caption">
                <h3>Look up Nutrition Facts</h3>
                <p>
                    Ever curious about the nutrition facts about a certain food?
                    This tool allows you to search common foods and
                    see the nutritional facts.
                </p>
                <a href="/nutrition" >
                    <button class="btn btn-primary">GoTo</button>
                </a>
            </div>
        </div>
    </div>
</div><!-- row -->

<%- include('footer') %>
