<%- include('header') %>
<script>
  $(document).ready(function(){
    getAllUserMeals();
  });
</script>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addMealModal">Add Meal</button>
<table class="table">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Calories</th>
      <th>Sugar</th>
      <th>Fat</th>
      <th>Carb</th>
      <th>Protein</th>
      <th>Meal Type</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody id="mealTableBody">
    <tr>
      <td>
        Loading
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<div id="addMealModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form action="/user/meals/insert" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a New Meal</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>Food Name</label>
            <input type="text" name="foodName" class="form-control" placeholder="Food Name" id="foodName" />
        </div><!-- form-group -->
        <div class="form-group">
            <label>Calories</label>
            <input type="number" name="calories" class="form-control" placeholder="Calories" id="calories" />
        </div><!-- form-group -->
        <div class="form-group">
            <label>Sugar</label>
            <input type="number" name="sugar" class="form-control" placeholder="Sugar" id="sugar" />
        </div><!-- form-group -->
        <div class="form-group">
            <label>Protein</label>
            <input type="number" name="protein" class="form-control" placeholder="Protein" id="protein" />
        </div><!-- form-group -->
        <div class="form-group">
            <label>Fat</label>
            <input type="number" name="fat" class="form-control" placeholder="Fat" id="fat" />
        </div><!-- form-group -->
        <div class="form-group">
          <!--<label>Meal Type</label>
          <input type="text" name="mealType" class="form-control" placeholder="Meal Type" id="mealType" />-->
          <label for="mealType">Meal Type</label>
          <select class="form-control" name="mealType" id="mealType">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Snack</option>
          </select>
        </div><!-- form-group -->
        <div class="form-group">
            <label>Carbs</label>
            <input type="number" name="carb" class="form-control" id="carb" />
        </div><!-- form-group -->
        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date" class="form-control" id="date" />
        </div><!-- form-group -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Meal</button>
      </div>
      </form>
    </div>

  </div>
</div>
<%- include('footer') %>
