<%- include('header') %>
<script src="http://platform.fatsecret.com/js?key=7441ba1fffe0492faf1142a92fbc6357&auto_nav=false&theme=white"></script>
<script>
  fatsecret.setContainer("my_container");
  fatsecret.setCanvas("home");
</script>
<div class="row" >
    <div id="my_container" class="fatsecret_container thumbnail col-md-offset-2 col-md-8 col-sm-12"></div>
</div> <!-- row -->

<%- include('footer') %>
